#banner{
	background-color:#08E1EE;
	background-size:cover;
	margin:0;
	height: 10%;
	width: 100%;
	}
	
.blogCreationHeader{
	width:100%;
	background-color:#F8F8F8;
	height:10%;
	background-size:cover;
	border-radius:4px;
	margin:5px;
	}



.allInput{
	color:#777777;
	font-size:16px;
	font-weight:400;	
	}
	
#banner h2{
	color:#fff;
	float:left;
	text-align:center;
	padding: 0px 0 0px 10px;
	font-family: Lato,appleLogo,sans-serif;
	}	
	



	
	#mainPart{
		padding:10%;
		}
		
	
input {
 
  display: block;
  font-weight: 100;
  width: 100%;
  font-size: 1rem;
  font-weight: 100;
  color: #475B62;
  border: 1px solid #C5C5C5;
  border-radius: 4px;
  outline: 0;
  padding:5px;
  margin: 5px;
}


textarea {
	display: inline-block;
  font-weight: 100;
  width: 100%;
  font-size: 2rem;
  font-weight: 100;
  color: #475B62;
  border: 1px solid #C5C5C5;
  border-radius: 4px;
  outline: 0;
  padding:15px;
  margin: 15px;
}
	

p {
  color: #777777;
  font-size:0.5em;
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}
input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
}
input.ng-valid.ng-touched {
  border: 1px solid #509D12;
}
	/*@media(max-width:472px)
	{
		#banner input[type=button]{
			margin-top:5px;}
		}*/




#custom-search-input {
        margin:0;
        /*margin-top: 10px;*/
        padding: 5%;
		/*position:absolute;*/
		float:left;
		/*left:30px;
		top:5px;*/
	
    }
	
	

	
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
		
		/*newly added code for input*/
		display: inline-block;
  font-weight: 200;
 
  font-size: 1.5rem;
  
  color: #475B62;
  border: 1px solid #C5C5C5;
  border-radius: 4px;
  outline: 0;
		
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:grey;
	}
 
    .search-query:focus + button {
        z-index: 3;   
    }
	
	.username{
		color:#FFFFFF;
		font-weight:600;
		/*padding:15px;*/
		float:left;
		padding:2%;
		
			}
	.setting{
		width: 50px;
		height:50px;
	}
	.navbar-nav{
		width:25%;}
	
	@media(max-width:768px){
		.username{
			padding:3%;}
		}
/*		@media (min-width: 200px) and (max-width: 1000px) {
   .collapse {
       display: none !important;
   }
}*/
   @media only screen and (min-width: 500px) {
    .collapse {
       /* display: block;*/
	   display:block;
	   
    }

    .navbar-header {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
     .collapse {
        display: none;
     }

     .navbar-header {
       display: block;
	   /*display:none;*/
     }
	 
}
@media(max-width:500px){
		.icons{
			float:relative;}
		}
		
	.btn {
   /* display: inline-block;
    padding: 12px 24px;
    margin-bottom: 0;
	margin:10px;
    font-size: 1.3rem;
    font-size: 400;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;*/
   /* vertical-align: middle;*/
  /*  cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #C61C6F;
    color: white;
    background-color: #2D8BCF;
    background-size: 18px 18px;
    min-width: 28px;
    min-height: 28px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;*/
			
				background-color:#1289D1;
	color:white;
	font-size:14px; 
	font-weight:600;
	/*width:10%;*/
} 

 .post{
	float: right;


	}

.public{
	float: left;

}
	
	.photo{
		
		
float: right;

		}

#likeBody  {
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 160%;
  color: #555459;
  line-height: 1.5rem;
    *zoom: 1;
}

.card {
  background: white;
  width: 100%;
  height:100%;
  max-width: 1000px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  text-align: center;
  position: relative;
  opacity: .95;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
}

a {
  color: #2D8BCF;
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

fieldset {
  margin: 10px 0;
}

 object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }
  
  #image_preview {
    display: none;
}
	
textarea.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
}
textarea.ng-valid.ng-touched {
  border: 1px solid #509D12;
}


.secondnav{
		position:absolute;
		top:50px;
		left:40px;
		list-style:none;
		line-height:60px;
	}
	
.signupbutton{
	background-color:#0076B9;
	color:white;
	font-size:14px; 
	font-weight:600;
	/*width:10%;*/
}


 label[for=firstName]
{
	padding: 10px;
	font-family: Lato,appleLogo,sans-serif;
	font-weight:600;
}

 label[for=profilePicture]
{
	padding: 10px;
	font-family: Lato,appleLogo,sans-serif;
	font-weight:600;
}



 label[for=lastName]
{
	padding:10px;
	font-family: Lato,appleLogo,sans-serif;
	font-weight:600;
}

 label[for=datebirth]
{
	padding:10px;
	font-family: Lato,appleLogo,sans-serif;
	font-weight:600;
	position:relative;
}

 label[for=comment]
{
	padding:5px;
	font-family: Lato,appleLogo,sans-serif;
	font-weight:600;
}